{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2><i class="fa fa-key"></i> Password Generator</h2>

        <p>You can generate random secure passwords</p>

        <p><a class="btn btn-default" href="{{urlFor('Pwgen:gen')}}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-lock"></i> Encryption</h2>

        <p>The data is encrypted with your password. Only you can access your data!</p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-bolt"></i> Register now!</h2>

        <p>Very simple to use. </p>

        <p><a href="{{urlFor('User:register')}}" class="btn btn-info" role="button"><span
                class="glyphicon glyphicon-pencil"></span> Register</a></p>
    </div>
</div>

{% endblock %}
