{% extends "base.html" %}

{% block jumbotron %}
<h2>Settings</h2>
<p>Here you can change your password.</p>
{% endblock %}

{% block content %}

{% import "macro/form.html" as form %}

<h2>Change password</h2>
<form class="form-horizontal" role="form" method="post" action="{{urlFor('User:changePw')}}">

    {% if form_errors|length > 0 %}
    <div class="form-group has-warning">
        <label class="col-sm-2 control-label">Warning:</label>

        <div class="col-sm-4">
            <p class="bg-warning">Please fix some small issues with your input.</p>
        </div>
    </div>
    {% endif %}

    <div class="form-group {{form.print_error_class('username', form_errors)}}">
        <label for="old_password" class="col-sm-2 control-label">Current password</label>

        <div class="col-sm-4">
            <input type="password" name="old_password" class="form-control" id="old_password" placeholder="" value="">
            {{ form.print_error('old_password', form_errors)}}
        </div>
    </div>

    <div class="form-group {{form.print_error_class('password', form_errors)}}">
        <label for="new_password" class="col-sm-2 control-label">New password</label>

        <div class="col-sm-4">
            <input type="password" name="new_password" class="form-control" id="new_password" placeholder="" value="">
            {{ form.print_error('new_password', form_errors)}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-success">Change password</button>

        </div>
    </div>


</form>

{% endblock %}


{% block extra_javascript %}

<script>//turn to inline mode
$(document).ready(function () {

    $('#generate_password').click(function () {
        event.preventDefault();
        $("#password_suggestions").show();
        $("#generate_password").hide();

    });

});
</script>
{% endblock %}
