{% extends "base.html" %}

{% block jumbotron %}
<p>These are your accounts.
    <a class="btn btn-success" href="{{urlFor('Account:add')}}" role="button">
        <i class="fa fa-plus-circle"></i> Add account</a>

    {% endblock %}

    {% block content %}

    {% if accounts|length == 0 %}
<div class="row">
    <div class="col-md-8">
        <h2>Welcome to your accounts</h2>

        <p>The list is currently empty.</p>

        <p>
            <a class="btn btn-success" href="{{urlFor('Account:add')}}" role="button">
                <i class="fa fa-plus-circle"></i> Add account</a>

        </p>
    </div>

</div>


{%  else %}



<div class="row">
    {% for account in accounts %}
        <div class="col-sm-4 list-item well">
            <a href="{{ urlFor('Account:view', {'id': account.id}) }}">
                <h4>{{account.title}} <small>{{account.description}}</small></h4> </a>
                <p>{{account.username}} @
                    {% if account.url|length >= 20 %}
                    {{account.url|slice(0,20)}}...
                    {% else %}
                    {{account.url}}
                    {% endif %}
                </p>
                <p>
                    <a href="{{ urlFor('Account:view', {'id': account.id}) }}" class="btn btn-default" role="button">
                        <i class="fa fa-search-plus"></i> View details</a>
                </p>

        </div>

<!--
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><p>
    </tr>
    -->
    {% endfor %}
</div>

{% endif %}
{% endblock %}