{% extends "base.html" %}

{% block jumbotron %}
<h1>{{account.title}}</h1>
<p>
<a class="btn btn-default" href="{{urlFor('Account:edit', {'id': account.id})}}" role="button">Edit Account Information &raquo;</a>
</p>
{% endblock %}

{% block content %}
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-2 control-label">Title</label>
        <div class="col-xs-4">
            {{account.title}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label">Description</label>
        <div class="col-xs-4">
            {{account.description}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label">Address</label>
        <div class="col-xs-4">
            {{account.url}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-2 control-label">Username</label>
        <div class="col-xs-4">
            {{account.username}}
        </div>
    </div>

    <div class="form-group">
        <label  class="col-xs-2 control-label">Password</label>
        <div class="col-xs-4">
            <a class="btn btn-default" href="#" id="view_password" role="button">View password &raquo;</a>

            <div id="password_plaintext">
                <pre>{{account.password}}</pre>
            </div>

        </div>


    </div>
</div>

{% endblock %}


{% block extra_javascript %}

<script>//turn to inline mode
    $(document).ready(function() {
    $('#view_password').click(function(event){
          event.preventDefault();
          $("#password_plaintext").show();
          $("#view_password").hide();

      });
      
    });
</script>
{% endblock %}
