{% extends "base.html" %}

{% block jumbotron %}
<h1>{{account.title}}</h1>
<p>
<a class="btn btn-default" href="{{urlFor('Account:edit', {'id': account.id})}}" role="button">Edit Account Information &raquo;</a>
</p>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-2"><strong>Title:</strong></div>
  <div class="col-xs-2">
    {{account.title}}
  </div>
</div>
<div class="row">
  <div class="col-xs-2"><strong>Description:</strong></div>
  <div class="col-xs-2">
    {{account.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-2"><strong>Address:</strong></div>
  <div class="col-xs-2">
    {{account.url}}
  </div>
</div>
<div class="row">
  <div class="col-xs-2"><strong>Username:</strong></div>
  <div class="col-xs-2">
    {{account.username}}
  </div>
</div>
<div class="row">
  <div class="col-xs-2"><strong>Password:</strong></div>
  <div class="col-xs-2">
    <a class="btn btn-default" href="#" id="view_password" role="button">View password &raquo;</a>
 
      <div id="password_plaintext">
        <pre>{{account.password}}</pre>
     </div>

    


  </div>
</div>
{% endblock %}


{% block extra_javascript %}

<script>//turn to inline mode
    $(document).ready(function() {
    $('#view_password').click(function(event){
          event.preventDefault();
          $("#password_plaintext").show();
          $("#view_password").hide();

      });
      
    });
</script>
{% endblock %}
