{% extends "base.html" %}

{% block jumbotron %}
<h1>{{account.title}}</h1>
<p>
<a class="btn btn-default" href="{{urlFor('Account:edit', {'id': account.id})}}" role="button">Edit Account Information &raquo;</a>
</p>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2">Title:</div>
  <div class="col-md-2">
    {{account.title}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">Description:</div>
  <div class="col-md-2">
    {{account.description}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">URL:</div>
  <div class="col-md-2">
    {{account.url}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">Username:</div>
  <div class="col-md-2">
    {{account.username}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">Password:</div>
  <div class="col-md-2">
    <a class="btn btn-default" href="#" id="view_password" role="button">View password &raquo;</a>
 
      <div id="password_plaintext">
    <p> <pre>{{account.password}}</pre></p>
     </div>

    


  </div>
</div>
{% endblock %}


{% block extra_javascript %}

<script>//turn to inline mode
    $(document).ready(function() {
    $('#view_password').click(function(){
          event.preventDefault();
          $("#password_plaintext").show();
          $("#view_password").hide();

      });
      
    });
      </script>
{% endblock %}
